[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
azure-mgmt-compute = "*"
paramiko = "*"
colorama = "*"
tqdm = "*"
tabulate = "*"
ansible = "*"
sqlalchemy = "*"

[requires]
python_version = "3.7"
